# Model
data/cnn/model.h5
!data/cnn/.gitkeep

# Environment
env/*

# Images
images/test/*
images/train/*
images/valid/*
!images/.gitkeep
!images/test/.gitkeep
!images/train/.gitkeep
!images/valid/.gitkeep